.navbar {
    background-image: linear-gradient(90deg, rgba(109, 64, 22, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.navbar-brand {
    font-size: larger !important;
    font-weight: bold;
    color: #fff !important;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .logo {
    max-height: 50px;
}

.navbar-nav li {
    display: inline-block;
}

.navbar-nav li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-nav li a:hover {
    color: #ffc107;
}

body {
    background-image: url('../images/background.jpeg');
    background-position: center;
    background-repeat: repeat-y;
}

.btn-brown {
    background-color: brown !important;
    color: white !important;
}

.invalid-feedback, .text-danger {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.login-form, .register-form, .profile-form, .check-book-form, .add-quote-form, .add-book-form {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(193, 193, 193, 1) 100%);
!important;
    padding: 50px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .login-form, .register-form, .profile-form, .check-book-form, .add-quote-form, .add-book-form {
        width: 100% !important;
    }
}

.login-form, .register-form {
    width: 40%;
}

#quote-container {
    margin-top: 20px;
}

#quote-content, #random-quote-content {
    font-size: 1.25rem;
}

#authors, #book-title, #random-quote-authors, #random-quote-book {
    font-style: italic;
    color: #6c757d;
}

.card {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(193, 193, 193, 1) 100%);
!important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 30px;
}

.quote-content {
    font-size: 1.2rem;
    color: #333;
}

.quote-card {
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.browse-menu {
    background: radial-gradient(circle, rgba(176, 144, 104, 1) 0%, rgba(148, 101, 36, 1) 100%);
}

.browse-menu .dropdown-item:hover {
    color: black;
}

.page-nav {
    display: grid;
    place-items: center;
    margin-top: 5rem;
}

#books-container, #authors-container {
    padding-top: 50px;
    text-align: center;
}

.book-item, .author-item {
    cursor: pointer;
}

.book-item:hover {
    background-color: #f8f9fa;
}

.book-link, .author-link {
    color: #343a40;
}

.book-link:hover {
    text-decoration: none;
    color: #007bff;
}

.browse-title {
    background-color: rgba(255, 255, 255, 0.49);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.book-details {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-details h2 {
    color: saddlebrown;
    font-size: 24px;
    font-weight: bold;
}

.book-details p {
    font-size: 18px;
    margin-bottom: 10px;
}

.like-button, .liked-button {
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.like-button {
    background-color: gray;
    color: white;
}

.liked-button {
    background-color: green;
    color: white;
}