<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div th:if="${failureMessage}" class="alert alert-danger" role="alert">
                <span th:text="${failureMessage}"></span>
            </div>

            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                <span th:text="${successMessage}"></span>
            </div>

            <div th:each="user : ${usersPage.getContent()}" class="card mb-3">
                <div class="card-body">

                    <h5 class="card-title mb-3 text-center" th:text="${user.username}"></h5>

                    <div class="mb-3 text-center">
                        <img th:if="${user.profilePicturePath != null}" th:src="@{'/' + ${user.profilePicturePath}}"
                             class="profile-picture img-thumbnail mb-3 rounded-circle" alt="Profile Picture">
                        <img th:unless="${user.profilePicturePath != null}" th:src="@{'/' + 'images/' + placeholder.png}"
                             class="profile-picture img-thumbnail mb-3 rounded-circle" alt="Placeholder Picture">
                    </div>

                    <p>
                        Current roles:
                        <span th:each="role, iterStat : ${user.roles}">
                            <span th:text="${role.role}"></span>
                            <span th:if="${!iterStat.last}">, </span>
                        </span>
                    </p>
                    <form method="post" th:action="@{/admin/users}">
                        <input type="hidden" th:name="userId" th:value="${user.id}" />
                        <div th:each="role : ${T(com.softuni.quotependium.domain.enums.UserRoleEnum).values()}">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" th:checked="${user.roles.contains(role.name())}" th:name="userRoles" th:value="${role.name()}" />
                                <label class="form-check-label" th:text="${role.name()}"></label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-brown">Save Roles</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 page-nav">
    <nav aria-label="Page navigation">
        <ul class="pagination">

            <li class="page-item" th:classappend="${usersPage.isFirst() ? 'disabled' : ''}">
                <a th:if="${usersPage.isFirst()}" class="page-link" href="#" aria-label="First"><span aria-hidden="true">&laquo;</span></a>
                <a th:unless="${usersPage.isFirst()}" class="page-link" th:href="@{/admin/users(size=${usersPage.getSize()})}" aria-label="First"><span aria-hidden="true">&laquo;</span></a>
            </li>

            <li class="page-item"><a class="page-link" th:href="@{/admin/users(size=${usersPage.getSize()}, page=${usersPage.number - 1})}" th:if="${!usersPage.first}">Previous</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/admin/users(size=${usersPage.getSize()}, page=${usersPage.number + 1})}" th:if="${!usersPage.last}">Next</a></li>

            <li class="page-item" th:classappend="${usersPage.isLast() ? 'disabled' : ''}">
                <a th:if="${usersPage.isLast()}" class="page-link" href="#" aria-label="Last"><span aria-hidden="true">&raquo;</span></a>
                <a th:unless="${usersPage.isLast()}" class="page-link" th:href="@{/admin/users(size=${usersPage.getSize()}, page=${usersPage.getTotalPages() - 1})}" aria-label="Last"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>
