<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>
<div class="container" id="quote-container">
    <div th:each="quote : ${quotes.getContent()}" class="card quote-card text-center">
        <div class="card-body">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <p id="quote-content" th:text="${quote.getContentWithQuotationMarks()}"></p>
                <p id="authors" th:text="${quote.getAuthorsFormatted()}"></p>
                <p id="book-title" th:text="${quote.getBookTitle()}"></p>

                <button class="js-like-button"
                        sec:authorize="isAuthenticated()"
                        th:attr="data-quote-id=${quote.getId()}, class=${quote.likedByUserIds.contains(currentUserId) ? 'liked-button' : 'like-button'}"
                        th:text="${quote.getLikedByUserIds.contains(currentUserId) ? 'Liked' : 'Like'}"
                        th:onclick="|toggleLike(this, ${quote.getId()}, document.getElementById('like-counter-${quote.getId()}'))|">
                </button>

                <small th:id="'like-counter-' + ${quote.getId()}"
                       th:text="'Liked by: ' + ${quote.getLikes()}">>
                </small>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 page-nav">
    <nav aria-label="Page navigation">
        <ul class="pagination">

            <li class="page-item" th:classappend="${quotes.isFirst() ? 'disabled' : ''}">
                <a th:if="${quotes.isFirst()}" class="page-link" href="#" aria-label="Fisrt"><span aria-hidden="true">&laquo;</span></a>
                <a th:unless="${quotes.isFirst()}" class="page-link"
                   th:href="@{/browse/quotes(size=${quotes.getSize()})}" aria-label="First"><span aria-hidden="true">&laquo;</span></a>
            </li>

            <li class="page-item"><a class="page-link"
                                     th:href="@{/browse/quotes(size=${quotes.getSize()}, page=${quotes.number - 1})}"
                                     th:if="${!quotes.first}">Previous</a></li>
            <li class="page-item"><a class="page-link"
                                     th:href="@{/browse/quotes(size=${quotes.getSize()}, page=${quotes.number + 1})}"
                                     th:if="${!quotes.last}">Next</a></li>

            <li class="page-item" th:classappend="${quotes.isLast() ? 'disabled' : ''}">
                <a th:if="${quotes.isLast()}" class="page-link" href="#" aria-label="Last"><span aria-hidden="true">&raquo;</span></a>
                <a th:unless="${quotes.isLast()}" class="page-link"
                   th:href="@{/browse/quotes(size=${quotes.getSize()}, page=${quotes.getTotalPages() - 1})}"
                   aria-label="Last"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
</div>

<script th:src="@{/js/toggleLike.js}"></script>
</body>
</html>