<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">
</head>
<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container" id="quote-container">
    <div class="card text-center mb-4">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <h2 class="mb-4">Quote of the Day</h2>
            <div id="random-quote-content" th:text="${quoteOfTheDay.getContentWithQuotationMarks}" class="mb-3"></div>
            <div id="random-quote-authors" th:text="${quoteOfTheDay.getAuthorsFormatted}"></div>
            <div id="random-quote-book" th:text="${quoteOfTheDay.getBookTitle}"></div>

            <small th:attr="data-quote-id=${quoteOfTheDay.getId()}"
                   th:text="'Liked by: ' + ${quoteOfTheDay.getLikes()}"}
                   id="quoteOfTheDay-like-counter">
            </small>

            <button class="js-like-button"
                    sec:authorize="isAuthenticated()"
                    th:attr="data-quote-id=${quoteOfTheDay.getId()}, class=${quoteOfTheDay.likedByUserIds.contains(currentUserId) ? 'liked-button' : 'like-button'}"
                    th:text="${quoteOfTheDay.getLikedByUserIds.contains(currentUserId) ? 'Liked' : 'Like'}"
                    th:onclick="|toggleLike(this, ${quoteOfTheDay.getId()}, document.getElementById('quoteOfTheDay-like-counter'))|">
            </button>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <h2 class="mb-4">Random Quote Generator</h2>
            <div id="quote-content" class="mb-3"></div>
            <div id="authors"></div>
            <div id="book-title"></div>
            <button class="btn btn-brown mt-3" onclick="fetchRandomQuote()">Generate</button>

            <button sec:authorize="isAuthenticated()"
                    id="generator-like-button"
                    class="js-like-button like-button mt-3"
                    onclick="toggleLike(this, '', document.getElementById('generator-like-counter'))"
            >Like</button>

            <small id="generator-like-counter"></small>
        </div>
    </div>
</div>
<script th:src="@{/js/fetchRandomQuote.js}"></script>
<script th:src="@{/js/toggleLike.js}"></script>
<script th:inline="javascript">
    const currentUserId = /*[[${currentUserId}]]*/;
</script>
</body>
</html>