<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form th:action="@{/profile}"
                  th:method="POST"
                  enctype="multipart/form-data"
                  th:object="${userProfile}"
            class="profile-form">
                <h1 class="text-center mb-4">User Profile</h1>

                <div class="mb-3 text-center">
                    <img th:if="${userProfile.profilePicturePath != null}" th:src="${userProfile.profilePicturePath}"
                         class="profile-picture img-thumbnail mb-3 rounded-circle" alt="Profile Picture">
                    <img th:unless="${userProfile.profilePicturePath != null}" th:src="@{/images/placeholder.png}"
                         class="profile-picture img-thumbnail mb-3 rounded-circle" alt="Placeholder Picture">
                    <input type="file" class="form-control" id="profilePicture" name="profilePicture" accept="image/*">
                </div>

                <div style="align-content: center" th:if="${bindingResult != null}">
                    <div th:if="${bindingResult.hasGlobalErrors()}" class="text-danger">
                        <div th:each="error : ${bindingResult.globalErrors}" th:text="${error.defaultMessage}"></div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text"
                           th:value="*{username}"
                           class="form-control"
                           id="inputUsername"
                           name="username"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <span class="form-control" th:text="*{fullName}" readonly></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <span class="form-control" th:text="*{email}" readonly></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-brown">Save Changes</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>